<nav>
    <div class="nav-link">
        <a href="/">
            <span class="icon">
                <img src="/assets/img/icon-home.png" alt="icon home">
            </span>
            <span class="text">
                Главная
            </span>
        </a>
    </div>
    {% for chapter in site.chapters %}
    <div class="nav-link">
        <a href="{{chapter.url}}">
            <span class="icon">
                <img src="{{chapter.image}}" alt="icon {{chapter.short_name}}">
            </span>
            <span class="text">
                {{chapter.short_name | capitalize}}
            </span>
        </a>
    </div>
    {% endfor %}
    <div class="nav-link">
        <a href="/about.html">
            <span class="icon">
                <img src="/assets/img/icon-about.png" alt="icon about">
            </span>
            <span class="text">
                Автор
            </span>
        </a>
    </div>
</nav>