@font-face {
    font-family: "VCR";
    src: url("/assets/fonts/3117-font.ttf") format("truetype");
}

:root{
    --width: 1000px;
    --nav-transition: 0.15s;
    --top-margin-paragraph: 10px;
}

*{
    margin: 0;
    padding: 0;

    color: black;
    font-family: "VCR", sans-serif;

    background-color: none;
}

body{
    background-image: url(/assets/img/back-pixel-city.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
}

.navbar{
    width: 100%;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar .container {
    width: 100%;

    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.navbar-brand {
    font-size: 32px;
    text-transform: uppercase;
    text-decoration: underline;
}
.navbar-toggler {
    margin-left: 4px;
    margin-bottom: 2px;
    width: 100%;

    background-color: rgba(210,210,210,0.5);
    border: 2px dashed black;
    border-radius: 0;
}

.navbar-toggler::after{
    content:"Меню";
    color: black;
}

.navbar-collapse {
    width: 100%;
}
.navbar-nav {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.navbar-nav>.nav-item{
    min-width: 100px;
    margin: 2px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgba(210,210,210,0.9);
    border-collapse: collapse;
    border: 2px dashed black
}

.nav-item a{
    color: black;
}

.dropdown-menu {
    padding: 0;

    width: 100%;

    background-color: rgba(210,210,210,0.9);

    border-radius: 0;
    
    border-left: 2px dashed black;
    border-right: 2px dashed black;
    border-bottom: 2px dashed black;
}


.dropdown-menu>.nav-item{
    width: 100%;
    
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px; 
}

.divider{
    margin: 0;
    padding: 0;

}

.dropdown-menu>li:last-child .divider{
    display: none;
}

.dropdown-item{
    text-align: center;
    vertical-align: middle;
}




@media screen and (max-width: 992px){
    .navbar-nav>.nav-item{
        width: 100%;
    }

    .dropdown-menu{
        border: none;
        border-top: 2px dashed black;
    }
}






