<!DOCTYPE html>
<html lang="ru">

<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="shortcut icon" type="image/png" href="/assets/img/favicon.png">
    {% if site.tags != "" %}
    {% include collecttags.html %}
    {% endif %}
</head>

<body>
    <header>
        {% include navigation.html %}
    </header>
    <main>
        {{ content }}
        {% include posts.html %}
    </main>
    <div class="tags">
        {% include archive.html %}
    </div>
    {% include footer.html %}

</body>

</html>